.reviewWindow {
  .reviewHeader {
  }
  .reviewContent {
    .noReview {
    }
    .noReviewHide {
      display: none;
    }
    .reviews {
    }
    .reviewsHide {
      display: none;
    }
  }
  .reviewInput {
  }
  .reviewInputHide {
    display: none;
  }
  .reviewButtons {
  }
  .reviewButtons {
  }
  .reviewButtonsHide {
    display: none;
  }
}
