.reviewWindow {
  .reviewHeader {
  }
  .reviewContent {
    .noReview {
    }
    .noReviewHide {
      display: none;
    }
    .reviews {
    }
    .reviewsHide {
      display: none;
    }
  }
  .reviewInput {
  }
  .reviewInputHide {
    display: none;
  }
  .reviewButtons {
  }
  .reviewButtons {
  }
  .reviewButtonsHide {
    display: none;
  }
}
.inputActivate {
  display: none;
}
.inputActivateHide {
  z-index: 1000;
  width: 100px;
  height: 100px;
}
