@import '../../styles/variables.scss';

.cart {
  display: flex;
  justify-content: center;

  button {
    border: none;
  }

  .cartContents {
    width: 1200px;

    .cartTitle {
      font-size: 30px;
      font-weight: 700;
    }

    .cartEmpty {
      @include flexCenter;
      width: 1200px;
      height: 300px;

      h3 {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    .cartProductArea {
      width: 1200px;
      margin: 20px 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      text-align: center;

      thead {
        background-color: whitesmoke;
        border: 1px solid rgba(0, 0, 0, 0.2);

        th {
          height: 35px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          font-size: 14px;
          vertical-align: middle;
        }
      }

      .cartProductBox {
        tr {
          border: 1px solid rgba(0, 0, 0, 0.2);

          .tdImgbox {
            width: 150px;

            .cartProductImg {
              padding: 15px 0;

              img {
                height: 90px;
                width: 90px;
                vertical-align: middle;
                object-fit: cover;
              }
            }
          }

          .tdNamebox {
            width: 350px;
            font-size: 15px;
            font-weight: bold;
          }

          .tdPricebox {
            width: 200px;
            font-size: 15px;
          }

          .tdCountbox {
            width: 150px;
            font-size: 15px;
            vertical-align: middle;

            .btnbox {
              display: flex;
              flex-direction: column;

              .countBtnbox {
                margin-bottom: 15px;
                span {
                  margin: 0 30px;
                  padding-top: 3px;
                }
              }
            }
          }

          .tdBtnsbox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .deleteBtnBox {
      width: 1200px;
      display: flex;
      justify-content: space-between;

      .deleteAllBtn {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;
      }
    }

    .cartTotalPrice {
      width: 1200px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin: 20px 0;

      th,
      td {
        vertical-align: middle;
      }

      thead {
        background-color: whitesmoke;
        height: 30px;

        th {
          font-size: 11px;
        }
      }

      tbody {
        height: 50px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        text-align: center;

        td {
          font-size: 23px;
        }

        td:last-child {
          color: rgba(0, 0, 0, 0.5);

          span {
            color: $mainColor;
          }
        }
      }
    }

    .bottomBtnBox {
      @include flexCenter;

      .bottomBtn {
        width: 200px;
        height: 40px;
        margin-left: 3px;
        color: white;
        background-color: black;
        font-size: 16px;
      }
    }
  }
}
