.detailInfo {
  width: 1200px;
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: start;
  line-height: 18px;

  h4,
  li {
    font-weight: 200;
    list-style: none;
    font-size: 11px;
  }

  h3 {
    font-weight: 500;
    font-size: 12px;
  }

  h2 {
    font-weight: 400;
    font-size: 11px;
  }
}
