.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 450px;
  border: solid 1px black;
  z-index: 1000;
  background-color: #fbfafa;
  transform: translate(-50%, -50%);

  .header {
    padding: 7px 35px 7px 19px;
    background-color: black;

    .headerTitle {
      color: white;
      font-size: 14px;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    text-align: center;
    background: white;

    .cart {
      width: 70px;
      padding: 90px 0 10px 0;
      margin-bottom: 80px;
    }

    .textContent {
      margin-bottom: 100px;
    }
  }

  .modalButtons {
    display: flex;
    justify-content: center;
    padding: 9px;
    background-color: #fbfafa;
    border-top: solid 1px rgb(220, 220, 220);
    margin-top: 50px;

    button {
      width: 100px;
      height: 30px;
      border: solid 1px rgb(220, 220, 220);
      border-radius: 3px;

      &:hover {
        cursor: pointer;
      }
    }

    .goToCartButton {
      margin-right: 1px;
      color: white;
      background-color: #557498;
    }

    .backToShopButton {
      margin-left: 1px;
      background-color: white;
    }
  }
  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
}

#closeModal {
  display: none;
}
