.productDetail {
  display: flex;
  flex-direction: column;
  align-items: center;

  .productDetailTap {
    width: 100%;
    height: 58px;
    display: flex;
    margin-top: 40px;
  }

  .productDetailTap {
    width: 1200px;
    border-bottom: 2px solid #000;
    margin: 100px 0;
    display: flex;
    align-items: center;
  }

  .detailTap {
    background: #000;
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reviewTap {
    width: 50%;
    height: 100%;
    color: #9da0a5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .productDetailImg {
    display: flex;
    flex-direction: column;
  }
}
