@import '../../styles/variables.scss';

.nav {
  display: flex;
  flex-direction: column;
  width: 100vw;

  .navArea {
    @include flexCenter;
    padding: 50px 0;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1200px;

      .logo {
        img {
          height: 30px;
        }
      }

      .menuList {
        display: flex;

        li {
          @include flexCenter;
          height: 13px;
          padding: 0 10px;
          color: #4a4a4a;
          border-right: 1px solid #b2b2b2;
          font-size: 13px;
          line-height: 13px;
          font-weight: 700;

          i {
            margin-right: 5px;
            font-size: 15px;
          }

          input {
            width: 130px;
            height: 14px;
            padding: 2px 0;
            border: 0;
            border-bottom: solid 1px #4a4a4a;
            outline: none;
          }
        }

        li:last-child {
          border: none;
        }

        .link {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
